<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lucasdnd.bitclock16"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <receiver
			android:name="com.lucasdnd.bitclock16.ClockProvider"
			android:label="16-bit Clock Widget">
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		        <action android:name="com.lucasdnd.bitclock16.CLOCK_UPDATE" />
		        <action android:name="com.lucasdnd.bitclock16.SWITCH_COLORS" />
		    </intent-filter>
		    <meta-data android:name="android.appwidget.provider" android:resource="@xml/widgetproviderinfo" />
		</receiver>
        
    </application>

</manifest>
